astroid==2.5
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
docutils==0.16
idna==2.10
isort==5.7.0
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
lazy-object-proxy==1.5.2
llvmlite==0.36.0
mccabe==0.6.1
numba==0.53.0
numpy==1.20.1
pygame==2.0.1
Pygments==2.8.1
pylint==2.7.0
pypiwin32==223
pywin32==300
requests==2.25.1
soupsieve==2.2.1
toml==0.10.2
urllib3==1.26.4
wrapt==1.12.1
